<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sy.board.mapper.PostMapper">
<!--   쓰는 이유 확인 / application.yaml -->
    <resultMap id="PostMap" type="sy.board.domain.Post">
        <id    property="id"         column="id"/>
        <result property="title"     column="title"/>
        <result property="content"   column="content"/>
        <result property="author"    column="author"/>
        <result property="viewCount" column="view_count"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

<!--  코드 통일  -->
    <sql id="BaseColumns">
        id, title, content, author, view_count, created_at, updated_at
    </sql>

    <insert id="insert" parameterType="sy.board.domain.Post" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO posts (title, content, author)
        VALUES (#{title}, #{content}, #{author})
    </insert>

    <select id="findById" parameterType="long" resultMap="PostMap">
        SELECT <include refid="BaseColumns"/> FROM posts WHERE id = #{id}
    </select>

    <select id="findAll" resultType="sy.board.domain.Post">
        SELECT id,
        title,
        content,
        author,
        view_count AS viewCount,
        created_at AS createdAt,
        updated_at AS updatedAt
        FROM posts
        <where>
            <if test="q != null and q != ''">
                (title ILIKE '%' || #{q} || '%'
                OR content ILIKE '%' || #{q} || '%'
                OR author ILIKE '%' || #{q} || '%')
            </if>
        </where>
        ORDER BY id DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*)
        FROM posts
        <where>
            <if test="q != null and q != ''">
                (title ILIKE '%' || #{q} || '%'
                OR content ILIKE '%' || #{q} || '%'
                OR author ILIKE '%' || #{q} || '%')
            </if>
        </where>
    </select>

    <delete id="deleteByIds">
        DELETE FROM posts
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="sy.board.domain.Post">
        UPDATE posts
        SET title = #{title},
        content = #{content},
        author = #{author},
        updated_at = NOW()
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM posts WHERE id = #{id}
    </delete>

    <update id="increaseViewCount" parameterType="long">
        UPDATE posts SET view_count = view_count + 1 WHERE id = #{id}
    </update>

</mapper>
